# Default ignored files
/shelf/
/workspace.xml
# Maven build directories
**/target/

# Ignore test source code in all modules
**/src/test/

# IntelliJ IDEA
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
